  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

  :root {
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #ed2222;
    --accent-color-dark: #1d69a3;
}

.nav-link{
  cursor: pointer;
}
.nav-link:hover{
  color: rgb(247, 255, 7)
}
.nav-link.active{
  color:red;
}

.nav-item.active{
  color: red;
}
 
  #search-button{
   background-color: #6ebeff; 
   color: #000000;
  }
  #search-button:hover {
   background-color: #ff2121;
   color: #ffffff;
 }
 
  .heading-container {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 100px;
 }
 
.search-container {
  width: fit-content;
  margin-left: auto;
}

#search-button {
  margin-left: 5px;
}

 #search-text {
  background-color: rgb(255, 255, 255) !important;
}

 main{
    padding-block: 20px;
    margin-top: 80px ;
 }

 .cards-container{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:60px 20px;
    
 }

 .card{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
    height: 200px;
    background: #fff1f1 ;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0,0,0,0.15);
    transition: 0.5s;
 }

 .card:hover{
    box-shadow: 1px 1px 8px #c5e3fd;
    background-color: #c4ecff;
    /* transform: translateY(-2px); */
    height: 400px;
 }

 .card-header {
    width:100%;
    /* height: 180px; */
    position: absolute;
    top: 20px;
    width: 300px;
    height:220px;
    background: #333 ;
    /* object-fit: cover; */
    border-radius: 12px;
    transition: 0.5s;
 }

 .card-header:hover {
   top: -100px;
   transform: scale(0.75);
   box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
 }
 
 .card-header img {
   position: absolute;
   top: 0;
   left: 30px;
   width: 100%;
   height: 100%;
   object-fit: cover;
   transition: transform 0.5s;
 }
 
 .card:hover .card-header img {
   transform: scale(0.75);
   opacity: 0.7;
 }
 

 .card-content{
    /* padding: 12px; */
    position: absolute;
    top: 252px;
    width:100%;
    padding: 0 30px;
    height: 80px;
    overflow: hidden;
    text-align: center;
    transition: 0.5s;
    /* margin-top: 50px;  */
 }

 .card:hover .card-content {
   top:130px;
   height:250px;
   color: rgb(0, 0, 0) ;
   /* margin-top: 0; */
 }

 .card-content h3{
   font-size: 1.3rem;
   font-weight: 700;
 }

 .card-content p{
   color: #333;
   font-size: 1rem;
 }

.card-button {
   background-color: #ffffff;
   color: #000;
   padding: 10px 20px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   align-items: center;
   margin-top: 320px;
   margin-left: 120px;
   transition: background-color 0.3s;
 }

 
 .card-button:hover {
   cursor: pointer;
   background-color: #ff2424 !important;
   color: #fff;

 }
 .news-source{
    margin-block: 12px;
 }